<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link rel="stylesheet" href="book.css">
    <link rel="stylesheet" href="common.css">
</head>
<body>
<h1>Welcome to the library!</h1>
<h2>List of books:</h2>

<div class="book-container">
    <div class="book-container-header">
        <div th:text="Title" class="book-container-title">Title</div>
        <div th:text="Author" class="book-container-author">Author</div>
        <div th:text="Genre" class="book-container-genre">Genre</div>
        <div th:text="Comment" class="book-container-comment">Comment</div>
        <div th:text="Edit" class="book-container-edit">Edit</div>
        <div th:text="Delete" class="book-container-delete">Delete</div>
    </div>

    <div class="book-container-data" th:each="book : ${books}">
        <div th:text="${book.title}" class="book-container-title">small book</div>
        <div th:text="${book.author.fullName}" class="book-container-author">Author small book</div>
        <div th:text="${book.genre.name}" class="book-container-genre">Genre</div>
        <div class="book-container-comment">
            <a th:href="@{/comments(bookId=${book.id})}" href="comments.html" th:text="Show">Show</a>
        </div>
        <div class="book-container-edit">
            <a th:href="@{/book(id=${book.id})}" href="book_edit.html" th:text="Edit">Edit</a>
        </div>
        <div class="book-container-delete">
            <form th:action="@{/book_delete(id=${book.id})}" method="post">
                <button type="submit" class="book-container-delete-button">Delete</button>
            </form>
        </div>
    </div>

</div>

<div class="button-container">
    <a th:href="@{/book_new}" href="book_new.html">
        <button type="button" th:text="Add">Add</button>
    </a>
</div>

</body>
</html>