<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library - comment edit</title>
    <link rel="stylesheet" type="text/css" href="/comment_edit.css"/>
    <link rel="stylesheet" type="text/css" href="/common.css"/>
</head>
<body>
<h2>Edit comment:</h2>

<form id="comment-edit-form" action="comment_edit.html" th:action="@{/comment_edit(id=${comment.id})}" th:method="post">
    <div class="comment-edit-row">
        <label for="comment-text-input" type="hidden"></label>
        <textarea id="comment-text-input" rows="10" name="comment" type="text" th:value="${comment.commentText}"
                  th:field="${comment.commentText}">some_comment</textarea>
    </div>

    <div class="comment-edit-row">
        <button type="submit" th:text="Save">Save</button>
        <a href="comments.html" th:href="@{/comments(bookId=${comment.book.id})}">
            <button type="button" th:text="Cancel">Cancel</button>
        </a>
    </div>
</form>
</body>
</html>
