<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library - comment</title>
    <link rel="stylesheet" href="comment.css">
    <link rel="stylesheet" href="common.css">
</head>
<body>
<h2>Book comments:</h2>

<div class="comment-container">
    <div class="comment-container-data" th:each="comment : ${comments}">
        <div th:text="${comment.commentText}" class="comment-container-comment">comment</div>
        <div class="comment-container-edit">
            <a th:href="@{/comment(id=${comment.id})}" href="comment_edit.html" th:text="Edit">Edit</a>
        </div>
        <div class="comment-container-delete">
            <form th:action="@{/comment_delete(id=${comment.id})}" method="post">
                <button type="submit" class="comment-container-delete-button">Delete</button>
            </form>
        </div>
    </div>
</div>

<div class="button-container">
    <a href="comment_new.html" th:href="@{/comment_new(bookId=${bookId})}">
        <button type="button" th:text="Add">Add</button>
    </a>

    <a href="books.html" th:href="@{/}">
        <button type="button" th:text="Back">Back</button>
    </a>
</div>
</body>
</html>